<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>标签管理</title>
    <link rel="stylesheet" href="https://fastly.jsdelivr.net/semantic-ui/2.2.4/semantic.min.css">
    <link rel="stylesheet" href="../../static/css/me.css" th:href="@{/css/me.css}">
</head>
    <style>
        body {
            background-image: url("../../static/images/bj3.png")  !important;background-size: 100%;
        }
    </style>
<body>

    <!-- 导航 -->
    <nav class="ui inverted attached segment m-padded-tb-mini m-shadow-small" th:replace="~{commons/fragment-admin::topbar(activeUri='tag')}">
        <div class="ui m-container">
            <div class="ui inverted secondary stackable menu">
                <h2 class="ui teal header item">后台管理</h2>
                <a href="#" class="m-item item m-mobile-hide"><i class="small home icon"></i>博客</a>
                <a href="#" class="m-item item m-mobile-hide"><i class="small idea icon"></i>标签</a>
                <a href="#" class="m-item item m-mobile-hide"><i class="small tags icon"></i>标签</a>
                <div class="right m-item m-mobile-hide menu">
                    <div class="ui dropdown item">
                        <img class="ui avatar image" src="https://unsplash.it/100/100?image=1005">张三丰
                        <i class="dropdown icon"></i>
                        <div class="menu">
                            <a href="#" class="item">注销</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <a href="#" id="menu_toggle" class="ui black icon button m-right-top m-mobile-show">
            <i class="sidebar icon"></i>
        </a>
    </nav>
    <!-- 二级导航 -->
    <div class="ui attached pointing menu">
        <div class="ui container">
            <a href="#" th:href="@{/admin/tags/input}" class="item">新增</a>
            <a href="#" th:href="@{/admin/tags}" class="teal active item">列表</a>
        </div>
    </div>

    <br>

    <br>
    <br>
    <br>
    <br>
    <br>
    <!-- 中间内容 -->
    <div class="m-container-small m-padded-tb-big">
        <div class="ui container">
            <div id="message-close" class="ui success message" th:unless="${#strings.isEmpty(message)}">
                <i class="close icon"></i>
                <div class="header">提示：</div>
                <p th:text="${message}">恭喜，操作成功！</p>
            </div>
            <table class="ui compact teal celled table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>名称</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="tag,iterStat:${pageInfo.content}">
                        <td th:text="${iterStat.count}">1</td>
                        <td th:text="${tag.name}">刻意练习清单</td>
                        <td>
                            <div class="ui mini buttons">
                                <a th:href="@{/admin/tags/{id}/input(id=${tag.id})}" class="ui positive button">编辑</a>
                                <div class="or"></div>
                                <a th:href="@{/admin/tags/{id}/delete(id=${tag.id})}" class="ui red button">删除</a>
                                <div class="or"></div>
                                <a th:href="@{/admin/tags/input}" class="ui teal button">新增</a>
                            </div>
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <th colspan="6">
                            <a class="ui mini left floated teal basic button">
                                <p><B>
                                    当前第 <span th:text="${pageInfo.number}"></span> 页,
                                    总共 <span th:text="${pageInfo.totalPages}"></span> 页,
                                    共 <span th:text="${pageInfo.totalElements}"></span> 条记录
                                </B></p>
                            </a>
                            <div class="ui mini right floated pagination menu" th:if="${pageInfo.totalPages}>1">
                                <a th:href="@{/admin/tags(page=${pageInfo.number}-1)}" th:unless="${pageInfo.first}" class="item">上一页</a>
                                <a th:href="@{/admin/tags(page=${pageInfo.number}+1)}" th:unless="${pageInfo.last}" class="item">下一页</a>
                            </div>
                        </th>
                    </tr>
                </tfoot>
            </table>
        </div>

        <br>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <!-- 底部 -->
    <footer class="ui inverted vertical segment m-padded-tb-big" th:replace="~{commons/fragment-admin::footerbar}">
        <div class="ui center aligned container">
            <div class="ui inverted divided stackable grid">

                <div class="three wide column">
                    <div class="ui inverted link list">
                        <div class="item">
                            <img src="../../static/images/QQ.jpg" class="ui rounded image" alt="" style="width: 110px">
                        </div>
                    </div>
                </div>

                <div class="three wide column m-text-thin m-text-spaced m-opacity-mini">
                    <h4 class="ui inverted header m-text-thin m-text-spaced">最新博客</h4>
                    <div class="ui inverted link list">
                        <a href="#" class="item">用户故事 (User Story) </a>
                        <a href="#" class="item">用户故事 (User Story) </a>
                        <a href="#" class="item">用户故事 (User Story) </a>
                        <a href="#" class="item">用户故事 (User Story) </a>
                    </div>
                </div>

                <div class="four wide column m-text-thin m-text-spaced m-opacity-mini">
                    <h4 class="ui inverted header m-text-thin m-text-spaced">联系我</h4>
                    <div class="ui inverted link list">
                        <a href="#" class="item">Email: 3101965890@qq.com</a>
                        <a href="#" class="item">QQ: 3101965890</a>
                    </div>
                </div>

                <div class="six wide column m-text-thin m-text-spaced m-opacity-mini">
                    <h4 class="ui inverted header">WBlog</h4>
                    <p class="m-text-thin m-text-spaced m-opacity-mini">这是我的个人博客，会分享关于编程、写作、思考相关的任何内容，希望可以给到这儿来的人有所帮助......</p>
                </div>

            </div>
            <!-- 一条间隔线 -->
            <div class="ui inverted section divider"></div>
            <p class="m-text-thin m-text-spaced m-opacity-mini">Copyright &copy; 2020 - 2021 WBlog Designed by WBlog</p>
        </div>
    </footer>

<script type="text/javascript" src="https://fastly.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
<script type="text/javascript" src="https://fastly.jsdelivr.net/semantic-ui/2.2.4/semantic.min.js"></script>

<script type="text/javascript">
    /* 为右上角的菜单按钮在手机端时添加响应 */
    $('#menu_toggle').click(function () {
        $('.m-item').toggleClass('m-mobile-hide');
    });

    $('.ui.dropdown').dropdown();

    /* 消息提示关闭初始化 */
    // 消息提示关闭初始化
    $('#message-close')
        .on('click', function(){
            $(this)
                .closest('.message')
                .transition('fade');
        });
</script>
</body>
</html>